%tr{:class => (completed.too_late? ? 'error' : '')}
  %td= link_to completed.task_name.truncate(30), community_task_path(@community, completed)
  %td= completed.user.name
  %td= l completed.time, format: :time_only
  - if completed.completed_at.nil?
    %td= l completed.deadline, format: :date_only
  - else
    %td= l completed.completed_at, format: :date_only
