- content_for :modal_header do
  %h3= t('.modal_header')

- content_for :modal_footer do
  = button_tag t('yess'), class: 'btn btn-primary submit'
  %button.btn.modal-destroy{:type => "button", 'data-dismiss' => "modal", 'aria-hidden' => "true"}= t('noo')

- content_for :modal_body do
  %p= t('.modal_body')
  %p
    %small= t('.explanation')

  =simple_form_for [@community, @task, @task_occurrence], html: {class: 'form-horizontal'} do |f|
    - if @task.allocation_mode == 'user'
      = f.association(:user, collection: @community.members, include_blank: false, label: t('task_occurrences.index.allocated_to')) 

= render 'shared/modal'