= simple_form_for([@community, @task_occurrence], html: {class: 'form-horizontal'}) do |f|
  %fieldset
    %legend= t('form.categories.general')
    = image_tag 'iconic/book_alt2_32x28.png', class: 'logo'
    %div.control-group
      = f.input :task_name, input_html: {class: 'span3'}
      = f.input :task_description, input_html: {rows: 5, class: 'span7 tinymce'}
      = tinymce
  %fieldset
    %legend= t('form.categories.instantiation')
    = image_tag 'iconic/clock_32x32.png', class: 'logo'
    = f.input :time_in_minutes, hint: t('form.task_time_hint'), input_html: {class: 'input-small'}
    = f.input :deadline, as: :string, label: t('tasks.new.deadline'), input_html: {class: 'input-mini datepicker span3'}
    = f.input :should_be_checked, label: t('form.should_be_checked_hint'), wrapper_tag: false, inline_label: Task.human_attribute_name(:should_be_checked), label: false

  %fieldset
    %legend= t('form.categories.allocation')
    = image_tag 'iconic/user_24x32.png', class: 'logo'
    = f.association :user, as: :select, collection: @community.members.map {|u| [u.name, u.id]}
  = f.submit t('actions.submit'), class: 'btn btn-primary'