- content_for :title do
  = t('.schedule')
- content_for :menu do
  =render partial: 'tasks/menu.html.haml'
  
%p
  %h2= image_tag('iconic/calendar_alt_fill_32x32.png') + t('.title')
  %ul.nav.nav-tabs#tasks-tab
    %li.active= link_to t('.mytodos'), '#todos'
    %li= link_to t('.allopen'), '#open'
    %li= link_to t('.history'), '#history'

  %div.tab-content
    %div.tab-pane#todos.active
      =render partial: 'todos'

    %div.tab-pane#open
      %h1 Test

    %div.tab-pane#history
      %h1 Test