%div.comment{:id => "comment_#{comment.id}"}
  %div.comment-header
    - if comment.user.avatar.exists?
      = image_tag comment.user.avatar.url(:small), class: 'user-logo'
    - else
      = image_tag 'iconic/right_quote_32x24.png', class: 'user-logo'
    %div.comment-info
      %strong= comment.user.name
      %br
      %small= l comment.created_at.localtime, format: :short
    %div.comment-actions
      - if can? :destroy, comment
        = image_button 'iconic/trash_fill_12x12.png', comment_path(comment.commentable, comment), method: :delete, remote: true, confirm: t('messages.confirm'), data: {title: t('actions.delete')}, class: 'tooltip-link'

  %div.comment-body= comment.body.html_safe