= simple_form_for([@community, @task]) do |f|
  %fieldset
    %legend= t('form.categories.general')
    = f.input :name
    = f.input :description
    = f.input :time, as: :time, hint: t('form.task_time_hint')
    = f.input :should_be_checked, label: t('form.should_be_checked_hint')

  %fieldset
    %legend= t('form.categories.instantiation')
    = f.input :instantiate_automatically

    %div#instantiation_options
      = f.input :start_on, as: :string, input_html: {class: 'datepicker'}
      %div.inline
        = f.input :interval, as: :integer
        %span.label_hide
          = f.input :interval_unit, as: :select, collection: [:days, :weeks, :months], label: '', include_blank: false
      %div.inline
        = f.input :repeat
        = f.input :repeat_infinite, as: :boolean, label: t('tasks.new.repeat_infinite')
      %div.inline
        = f.input :deadline, as: :integer, label: t('tasks.new.deadline')
        %span.label_hide
          = f.input :deadline_unit, as: :select, collection: [:days, :weeks, :months], label: '', include_blank: false

  %fieldset
    %legend= t('form.categories.allocation')
    = f.input :allocation_mode, as: :select, collection: Task::ALLOCATION_MODES_FORM, label: '', include_blank: false
    %div#user_tab.allocation_tab
      = f.association :allocated_user, collection: @members, include_blank: false
    %div#in_turns_tab.allocation_tab
      =render partial: 'user_sort', locals: {f: f}
    = submit_button

