- content_for :logo do
  = image_tag 'iconic/list_32x28.png'
= simple_form_for([@community, @task], html: {class: 'form-horizontal'}) do |f|
  %fieldset
    %legend= t('form.categories.general')
    = image_tag 'iconic/book_alt2_32x28.png', class: 'logo'
    %div.control-group
      = f.input :name
      = f.input :description, input_html: {rows: 5}
      = f.input :time, as: :time, hint: t('form.task_time_hint')
      = f.input :should_be_checked, label: t('form.should_be_checked_hint'), wrapper_tag: false

  %fieldset
    %legend= t('form.categories.instantiation')
    = image_tag 'iconic/clock_32x32.png', class: 'logo'
    = f.input :instantiate_automatically

    %div#instantiation_options
      = f.input :start_on, as: :string, input_html: {class: 'datepicker'}
 
      %div.inline
        = f.input :interval, as: :integer, input_html: {class: 'input-mini'}
        %span.label_hide
          = f.input :interval_unit, as: :select, collection: [:days, :weeks, :months], label: '', include_blank: false, input_html: {class: 'input-small'}
      %div.inline
        = f.input :repeat
        = f.input :repeat_infinite, as: :boolean, label: t('tasks.new.repeat_infinite')
      %div.inline
        = f.input :deadline, as: :integer, label: t('tasks.new.deadline')
        %span.label_hide
          = f.input :deadline_unit, as: :select, collection: [:days, :weeks, :months], label: '', include_blank: false

  %fieldset
    %legend= t('form.categories.allocation')
    = image_tag 'iconic/user_24x32.png', class: 'logo'
    = f.input :allocation_mode, as: :select, collection: Task::ALLOCATION_MODES_FORM, label: '', include_blank: false
    %div#user_tab.allocation_tab
      = f.association :allocated_user, collection: @members, include_blank: false
    %div#in_turns_tab.allocation_tab
      =render partial: 'user_sort', locals: {f: f}
    = submit_button

