%tr
  %td= task.name
  - if task.instantiate_automatically
    %td= task.instantiate_in_words
  - else
    %td= link_to task.instantiate_in_words, new_community_task_task_occurrence_path(@community, task), remote: true, data: {title: t('.manual-tooltip')}, class: 'tooltip-link'
  %td= l(task.next_occurrence, format: :date_only) if task.instantiate_automatically
  %td
    - if can_edit_task? task
      = (image_button 'iconic/pen_12x12.png', edit_community_task_path(@community, task))
      = (image_button 'iconic/trash_fill_12x12.png', community_task_path(@community, task), method: :delete, confirm: t('messages.confirm')) 