%tr{:class => (task_occurrence.too_late? ? 'error' : '')}
  %td
    %small= task_occurrence.remarks
  %td
    - if task_occurrence.user
      = task_occurrence.user.name
    - else
      = t('activerecord.attributes.task_occurrence.allocated_user.nobody') 
      %br
      %small= t('activerecord.attributes.task.allocation_modes_short.voluntary') 

  %td= l task_occurrence.deadline, format: :long
  %td= task_occurrence_status task_occurrence