- content_for :title do
  = t('tasks.index.title')
%p
  %h2= image_tag('broom32.png') + t('tasks.index.tasks')
  %table.table.table-striped
    %tr
      %th= t('tasks.index.name')
      %th= t('tasks.index.schedule')
      %th= t('.next_occurrence')
      %th
    = render partial: 'task', collection: @tasks
= will_paginate @tasks, class: 'pagination pagination-centered pagination-mini'

%p
  =link_to t('.create'), new_community_task_path(@community), class: 'btn btn-primary'
  =link_to t('.schedule'), todo_community_task_occurrences_path(@community), class: 'btn'

