- content_for :title do
  = t('tasks.index.title')
- content_for :menu do
  =render partial: 'menu.html.haml'
%p
  %h2= image_tag('broom32.png') + t('tasks.index.tasks')
  %table.table.table-striped
    %tr
      %th= t('tasks.index.name')
      %th= t('tasks.index.schedule')
      %th
    = render partial: 'task', collection: @tasks

