- content_for :title do
  =t('.subject')

%h2= t('.salutation', user: @user.name)
%p= raw t('.body', obj: @comment.commentable.class.model_name.human, title: @comment.commentable.title)
%p= raw @comment.body
%p= link_to t('.view_link'), view_comment_url(@comment)
%p= t('.greet_html').html_safe