%tr{:class => (completed.too_late? ? 'error' : '')}
  %td
    - if completed.task.present?
      = link_to completed.task_name.truncate(30), community_task_path(@community, completed.task)
    - else
      = link_to completed.task_name.truncate(30), community_task_occurrence_path(@community, completed) 
  %td= completed.user.name
  %td= l completed.time, format: :time_only
  %td{:class => ('error-text' if completed.too_late?)}
    - if completed.should_be_checked
      = l completed.completed_at, format: :date_only
    - elsif completed.deadline
      = l completed.deadline, format: :long
    - if completed.too_late?
      %br
      %small= "(#{t('activerecord.attributes.task_occurrence.statuses.too_late')})"
