%fieldset
  %legend= t('form.categories.instantiation')
  = image_tag 'iconic/clock_32x32.png', class: 'logo'
  = f.fields_for :repeatable_item do |r|
    = r.input :enabled, inline_label: RepeatableItem.human_attribute_name(:enabled), label: false, input_html: {data: {'toggle-visibility-of' => 'instantiation-options'}}

    %div#instantiation-options
      = r.input :next_occurrence, as: :string, input_html: {class: 'datepicker'}

      = r.input :repeat_every_number, as: :integer, input_html: {class: 'input-mini'}, wrapper_html: {class: 'inline'}
      = r.input :repeat_every_unit, as: :select, collection: [:days, :weeks, :months], label: '', include_blank: false, input_html: {class: 'input-small'}, wrapper_html: {class: 'inline neighbour'}, label: false

      = r.input :repeat_number, input_html: {class: 'input-mini'}
      = r.input :repeat_infinite, as: :boolean