%fieldset
  %h2= t('invitations.show.question')
  = form_tag(accept_community_invitation_path(@community, @invitation.token)) do
    %div.input
      = radio_button_tag 'invitation', 'accept'
      = label_tag t('invitations.show.accept'), nil, class: 'checkbox'
    %div.input
      = radio_button_tag 'invitation', 'deny'
      = label_tag t('invitations.show.deny'), nil, class: 'checkbox'
    = submit_button
