- content_for :title do
  = t('invitations.edit.title', community: @invitation.community.name)

/ # User ingelogd == email invitation ==> accept scherm
/ # User ingelogd != email invitation maar WEL bestaande user ==> login als andere user
/ # User ingelogd != email invitation en een NIET bestaande user ==> Accept scherm als andere user
/ # Geen user inglogd en invitation_email bestaat WEL ==> login als andere user
/ # Geen user inglogd en invitation_email bestaat NIET ==> create nieuwe user

- if current_user
  - if current_user.email == @invitation.invitee_email
    = render partial: 'accept_form'
  - elsif current_user.email != @invitation.invitee_email and @invitation.invitee
    = render partial: 'change_user'
  - elsif current_user.email != @invitation.invitee_email and @invitation.invitee.nil?
    = render partial: 'accept_form'
- else
  - if @invitation.invitee
    = render partial: 'change_user'
  - else
    = render partial: 'accept_form'

= render partial: 'invitation'
