- content_for :title do
  = t('.title')

%p
  %h2= image_tag('balance.png') + t('.title')
  %table.table.table-striped
    %tr
      %th= User.model_name.human
      %th= t('.saldo')
      %th
    - @saldos.each do |k,v|
      %tr
        %td= CommunityUser.find(k).user.name
        %td{class: (v < 0 ? 'error-text' : 'valid-text')}= number_to_currency v, unit: '€'
        %td

%p
  = image_tag('iconic/info_8x16.png', data: {title: t('.error-tooltip')}, class: 'tooltip-link')
  %strong= t('.error')
  = @error 
