%fieldset
  %legend Community details
  = simple_form_for ['admin', @community] do |f|
    = f.input :name
    = f.input :subdomain
    = f.input :user_tokens
    = f.input :admin_user_tokens
    = submit_button