= simple_form_for @payment, url: community_payments_path(@community),html: {class: 'form-horizontal'} do |f|
  %fieldset
    %legend= t('.categories.payment')
    = image_tag 'iconic/book_alt2_32x28.png', class: 'logo'
    %div.control-group
      = f.input :title
      = f.input :date, as: :string, input_html: {class: 'datepicker'}
      = f.input :price , :wrapper => :append do
        %span.add-on= "€"
        = f.input_field :price, class: 'input-mini'

      = f.input :description, input_html: {rows: 5, class: 'span7 tinymce'}
      = tinymce
  %fieldset
    %legend= t('.categories.distribution')
    = image_tag 'iconic/chart_32x32.png', class: 'logo'

    %table.table
      %tr
        %th= User.model_name.human
        %th= UserSaldoModification.human_attribute_name(:percentage)
        %th= t('.cost')
        %th= t('.paid')
        %th= UserSaldoModification.human_attribute_name(:price)  
      = f.fields_for :user_saldo_modifications do |builder|
        %tr.user-saldo-modification{class: ('current-user info' if @user == builder.object.user), data: {user: builder.object.id}}
          %td
            .control-group
              %label.checkbox
                = builder.check_box :checked, class: 'user-select'
                = builder.object.user.name
          %td
            .input-append.control-group
              = builder.input_field :percentage, class: 'input-mini percentage'
              %span.add-on= "%"

          %td.cost.error-text= '€ 0'
          %td.paid.valid-text= '€ 0'
          %td
            .input-append
              %span.add-on= "€"
              = builder.input_field :price, class: 'input-mini user-price' 

  = f.button :submit, class: 'btn btn-primary'