%table.table-full-width
  %tr
    %td
      %strong= Payment.human_attribute_name(:title)
    %td= @payment.title
  %tr
    %td
      %strong= Payment.human_attribute_name(:date)
    %td= l @payment.date, format: :long
  %tr
    %td
      %strong= Payment.human_attribute_name(:categories)
    %td=payment_categories_for(@payment)
  %tr

%hr
= raw @payment.description