- content_for :search do
  = render partial: 'shared/search'
%p
  %h2= image_tag('money_bag.png') + t('.title')
  - if @payments.any?
    - if params[:q].present?
      %p.search-result
        = image_tag('iconic/magnifying_glass_16x16.png')
        = t('.search-results', query: params[:q]) 
        = link_to t('.showall'), params.except(:q)
    %table.table.table-striped
      %tr
        %th= sortable :title, Payment.human_attribute_name(:title)
        %th= sortable :user_id, Payment.human_attribute_name(:user)
        %th= sortable :date, Payment.human_attribute_name(:date)
        %th= sortable :price, Payment.human_attribute_name(:price)
        %th= Payment.human_attribute_name(:my_result)
        %th
      = render partial: 'payment', collection: @payments
    = will_paginate @payments, class: 'pagination pagination-centered pagination-mini'
  - else
    %p
      = t('.non-found')
      = link_to t('.showall'), params.except(:q) if params[:q].present?

%p
  = icon_button t('.create'), new_community_payment_path(@community), link_class: 'btn-primary', icon_class: 'icon-plus', icon_white: true
