- content_for :title do
  = t('.title')


- content_for :search do
  = render partial: 'search'
%p
  %h2= image_tag('iconic/wrench_24x24.png') + t('.title')
  %table.table.table-striped
    %tr
      %th= sortable :title, Payment.human_attribute_name(:title)
      %th= sortable :user_id, Payment.human_attribute_name(:user)
      %th= sortable :date, Payment.human_attribute_name(:date)
      %th= sortable :price, Payment.human_attribute_name(:price)
      %th= Payment.human_attribute_name(:my_result)
      %th
    = render partial: 'payment', collection: @payments
= will_paginate @payments, class: 'pagination pagination-centered pagination-mini'

%p
  = #icon_button t('.create'), new_community_task_path(@community), link_class: 'btn-primary', icon_class: 'icon-plus', icon_white: true
  %div.btn-group
    %a.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'href' => '#'}
      = t('.create')
      %span.caret
    %ul.dropdown-menu
      %li= link_to t('.new_product_declaration'), new_community_payment_path(@community)
