%p
  %table#users
    %th= t('activerecord.attributes.user.email')
    %th= t('activerecord.attributes.user.name')
    %th= t('activerecord.attributes.user.global_role')
    %th= t('activerecord.attributes.user.communities')
    %th= t('activerecord.attributes.user.confirmed')
    %th= t('activerecord.attributes.user.last_login')
    %th
    = render partial: 'user', collection: @users
