%p
  %table
    %tr.line
      %th= image_tag('iconic/user_12x16.png') + t('activerecord.attributes.community.members')
      %th
      %th
      %th
    %tr
      %th= t('activerecord.attributes.user.name')
      %th= t('activerecord.attributes.user.email')
      %th= t('activerecord.attributes.user.role')
      %th
    = render partial: 'community_member', collection: @community.community_users