%p
  %table
    %tr.line
      %th= image_tag('iconic/cloud_24x15.png') + t('communities.index.memberships')
      %th
      %th
      %th
    %tr
      %th= t('communities.index.name')
      %th= t('communities.index.role')
      %th= t('communities.index.members')
      %th
    = render partial: 'community_user', collection: @community_users