%fieldset
  = simple_form_for @community do |f|
    = f.input :name
    = f.input :subdomain, disabled: true
    = f.input :invitation_emails, as: :text, hint: t('form.email_hint'), input_html: {rows: 5, class: 'span9'}
    = f.button :submit, class: 'btn-primary'