- show_accept ||= false
%p
  %h2= image_tag('iconic/mail_16x12.png') + (show_accept ? t('communities.index.invitations') : t('activerecord.models.invitations'))
  %table.table.table-striped
    %tr
      %th= t('activerecord.attributes.invitation.invitor')
      %th
        = show_accept ? t('activerecord.attributes.invitation.community') : t('activerecord.attributes.invitation.invitee_email')
      %th= t('activerecord.attributes.invitation.created_at')
      %th= t('activerecord.attributes.invitation.status')
      %th

    = render partial: 'invitation', collection: @invitations, locals: {show_accept: show_accept}
= will_paginate @invitations, param_name: :invitation_page, class: 'pagination pagination-centered pagination-mini'