<!DOCTYPE HTML>
%html
  %head
    %title Task System
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          = link_to(@community.name.capitalize, '#', class: 'brand') if @community.present?
          %ul.nav.offset3
            = tab_link t('.communities'), communities_path, icon_class: 'icon-user', dropdown: true do
              %ul.dropdown-menu
                %li= link_to t('.manage_communities'), communities_path
                %li.divider
                - current_user.communities.each do |community|
                  %li= link_to community.name, community_path(community)
            - if (@community.present? and !@community.new_record?)
              = tab_link t('.tasks'), '#', icon_class: 'icon-tasks', controller_list: [:tasks, :task_occurrences], dropdown: true do
                %ul.dropdown-menu
                  %li= link_to t('.overview'), community_tasks_path(@community)
                  %li= link_to t('.schedule'), todo_community_task_occurrences_path(@community)
            = tab_link t('.settings'), edit_user_registration_path, icon_class: 'icon-cog', controller_list: [:registrations]
            = tab_link t('.logout'), logout_path, icon_class: 'icon-off', class: 'pull-right'


    %div.container
      %div.row
        %div.span12
          %div#flash-container
            = render partial: 'shared/ajax_flash'
          =yield
