%html
  %head
    %title TaskSystem
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      %div.header-container
        %div.header
          =image_tag 'calendar.png', class: 'logo'
          %h1 Task Systeem

          %ul.tabs
            %li= link_to 'Dashboard', 'www.google.com'
            %li.active= link_to 'Tasks', 'www.google.com'
            %li= link_to 'Payments', 'www.google.com'
            %li= link_to 'Cooking', 'www.google.com'
            %li= link_to 'Settings', 'www.google.com'

          %ul.flags
            %li=link_to(image_tag('nl.png'), 'bla')
            %li=link_to(image_tag('us.png'), 'bla')


      %div.contents
        %h1 Title
        %div.flash.info 
          Created a new task
        =yield
      %div.menu
        %h2 Tasks
        %p
          =link_to 'Create a new task', 'www.google.com', class: 'button'
          =link_to "My todo's", 'www.google.com', class: 'button'

        %h2 Other        
        %p
          =link_to 'Account', 'www.google.com', class: 'button'
          =link_to 'Settings', 'www.google.com', class: 'button'
          =link_to 'Log out', 'www.google.com', class: 'button'

        %h2 Community
        %p
          =link_to 'Deepshit', 'www.google.com', class: 'button'
          =link_to 'Globehouse', 'www.google.com', class: 'button'

      %div.footer
        Created by Martijn Bolhuis
     



