<!DOCTYPE HTML>
%html
  %head
    %title Task System
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.navbar.navbar-inverse
      %div.navbar-inner
        = image_tag 'logo.png', class: 'brand'
        %div.container
          = # link_to(@community.name.capitalize, '#', class: 'brand') if @community.present?
          %ul.nav.offset3
            = tab_link t('.communities'), communities_path, icon_class: 'icon-user icon-white', dropdown: true do
              %ul.dropdown-menu
                %li= link_to t('.manage_communities'), communities_path
                - if current_user
                  %li.divider
                  - current_user.communities.each do |community|
                    %li= link_to community.name, community_path(community)
            - if (@community.present? and !@community.new_record?)
              = tab_link t('.tasks'), '#', icon_class: 'icon-tasks icon-white', controller_list: [:tasks, :task_occurrences], dropdown: true do
                %ul.dropdown-menu
                  %li= link_to t('.overview'), community_tasks_path(@community)
                  %li= link_to t('.schedule'), todo_community_task_occurrences_path(@community)
            = tab_link t('.settings'), edit_user_registration_path, icon_class: 'icon-cog icon-white', controller_list: [:registrations]
            = tab_link t('.logout'), logout_path, icon_class: 'icon-off icon-white', class: 'pull-right'
          %small.pull-right#version-box
            %em= "#{t('.version')} #{Rails.application.config.necura_version}"
    %div.header


    %div.container
      %div.row
        %div.span12
          %div#flash-container
            = render partial: 'shared/ajax_flash'
          %ul.breadcrumb
            %li
              = link_to 'Communities', "#"
              %span.divider /
            %li
              = link_to 'Deepshit', "#"
              %span.divider /
            %li.active Blabla
          =yield
