%html
  %head
    %title TaskSystem
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      %div.header-container
        %div.header
          =image_tag 'calendar2.png', class: 'logo'
          %h1 Task Systeem

          %ul.tabs
            =tab_link t('layout.communities'), communities_path

          %ul.flags
            %li=link_to(image_tag('nl.png'), 'bla')
            %li=link_to(image_tag('us.png'), 'bla')


      %div.contents
        %h1 Title
        -if flash[:notice]
          %div.flash.success= flash[:notice]
        -if flash[:error]
          %div.flash.error= flash[:error]
        =yield
      %div.menu= yield :menu
        

      %div.footer
        Created by Martijn Bolhuis
     



