<!DOCTYPE HTML>
%html
  %head
    %title TaskSystem
    = stylesheet_link_tag    "sessions", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.container
      %div.row
        %div.span12
          %p
            %div#flash-container= render partial: 'shared/ajax_flash'
      %div.row
        %div.span10.offset1
          = yield